<a href="https://colab.research.google.com/github/oguz55han/github/blob/main/Statistics_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [ ]:
import numpy as np
from scipy import stats
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

np.random.normal(loc=0.0, scale=1.0, size=None)  #you need to modify this code.

loc will be equal to mean, scale will be equal to std deviation, size will be equal to sample size.

In [ ]:
samples = np.random.normal(loc=100, scale=15, size=1000)

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = np.mean(samples)

median2 = np.median(samples)   # median modulu zaten mevcut, percentile kullamaya gerek yok.

median =np.percentile(samples,50)
mode =stats.mode(samples)[0][0]

print(mean,median,median2,mode)

100.0802766360349 100.70795950890576 100.70795950890576 47.54451116396824

In [ ]:
mean = np.mean(samples)
median =np.percentile(samples,50)
mode =stats.mode(samples)[0][0]

print(mean,median,mode)

100.0802766360349 100.70795950890576 47.54451116396824

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples,25)  

# Q1 = np.percentile(data, 25, interpolation = 'midpoint')  
# Q3 = np.percentile(data, 75, interpolation = 'midpoint')

# istenen yüzdelik değer iki veri noktası arasında olduğunda interpolation kullanıyor. Bu sekilde sonuc farkli cikar.



q3 =np.percentile(samples,75)
iqr =stats.iqr(samples)

print(min,max,q1,q3,iqr)

47.54451116396824 140.70604482627857 90.89434335753663 109.84742263335883 18.953079275822205

In [ ]:
# interquartile range anlasilmasi icin ornek cikarttim

# 20 tane deger var. Bu yuzden median 10. ve 11, degrlerin ort olacak. 

# Q1 hesaplamasi icin 10. degere kadar kisim alinir yani 88 dahil. Bu ilk partin mediani ise 56 ve 69 un ort dir.

# Q3 hesap. icin 11. deger dahil son degere kadar. burda da 96 ve 97 nin ort alinir. 

# Tam ortanca degeri bulmak istedgimiz icin ve belli bir aralik deger oldgu icin interpolation = 'midpoint' parametrisini ekliypruz

data = [32, 36, 46, 47, 56, 69, 75, 79, 79, 88, 89, 91, 92, 93, 96, 97, 101, 105, 112, 116]
  
# First quartile (Q1)
Q1 = np.percentile(data, 25, interpolation = 'midpoint')
  
# Third quartile (Q3)
Q3 = np.percentile(data, 75, interpolation = 'midpoint')
  
# Interquaritle range (IQR)
IQR = Q3 - Q1
  
print("mean:", np.mean(data))
print("median", np.median(data))
print(Q1)
print(Q3)

mean: 79.95
median 88.5
62.5
96.5

In [ ]:
(88 + 89) / 2

88.5

In [ ]:
(47 + 56) / 2

51.5

In [ ]:
(56 + 69) / 2

62.5

In [ ]:
(96 + 97 ) / 2

96.5

Compute the **variance** and **standard deviation**

In [ ]:
variance = np.var(samples)
std_dev = np.std(samples)
print(variance,std_dev)

203.9315639519088 14.280460915247406

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [ ]:
import scipy
skewness =scipy.stats.skew(samples)
kurtosis =scipy.stats.kurtosis
# kurtosis =scipy.stats.kurtosis(samples)
print(skewness,kurtosis)

-0.17874268385357267 <function kurtosis at 0x7f2d5c97cc20>

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
x = np.arange(10,20,dtype=int)
print(x)

[10 11 12 13 14 15 16 17 18 19]

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.array([1, 3, 5, 6, 8, 5, 7, 6, 2, 4])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
r = np.corrcoef(x,y)
r

array([[1.       , 0.2072353],
       [0.2072353, 1.       ]])

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r =scipy.stats.pearsonr(x,y)
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho =scipy.stats.spearmanr(x,y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
mean_tips = np.mean(tips,axis=1)
mean_tips

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

0       6.666667
1       5.000000
2       9.170000
3       9.663333
4      10.733333
         ...
239    12.650000
240    10.393333
241     8.890000
242     7.190000
243     7.926667
Length: 244, dtype: float64

In [ ]:
tips.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [ ]:
tips.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [ ]:
tips.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [ ]:
# yukardakinler veri setimde ayri ayri ozetleme yapmak istedgimde. 
# bunlarin hepsini ayni tabloda gormek istersem ise su sekilde kullanmam gerekiyor.

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:
from scipy.stats.stats import pearsonr

In [ ]:
pearsoncorr = tips.corr(method='pearson')
pearsoncorr

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000